@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#textoPrincipal{

    font-size:60px;
    margin-top: 81px;

}


.P_principal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #5B5D65;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0 auto;

    text-align: center;
}

.curva{
    border-radius:8px;
    border: none;

    background-color: var(--main--blacktexte--solidcolor);
    color: var(--main--whitetext--solidcolor);

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

    font-size: 16px;
    padding: 16px;
}

.curva:hover {
    background-color: rgb(75, 76, 80);
}

.testar{
    background: rgb(255,215,0);
    background: linear-gradient(180deg, rgba(255,215,0,1) 0%, rgba(255,167,38,1) 100%);
    border: none;
    color: var(--main--whitetext--solidcolor);
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: center;


    font-size: 16px;
    padding: 16px;
}

.testar:hover {
    background: rgb(255,215,0);
    background: linear-gradient(0deg, rgba(255,215,0,1) 0%, rgba(255,167,38,1) 100%);
}

.botoesPrincipais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
}

.curvaEsquecimento{
    height: 510px;
    margin-top: 100px;

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-left: 100px;

    flex-wrap: wrap;
}

.conceito, .span{
    font-size: 16px;
}

.span{
    background-color: var( --main--purpletext--solidcolor);
    background: rgb(86,0,143);
    background: linear-gradient(90deg, rgba(86,0,143,1) 0%, rgba(86,0,143,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    font-weight: bold;
}

.conceito{

}

.Grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    height: 340px;
}

.div-of-frame-on-landing-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    margin-top: 100px;
    width: fit-content; 
    background-color: #F9F9F9;
}

.section-of-frame-on-landing-page{
    
    box-shadow: 14px 14px 12px 14px rgba(0,0,0,0.1);

    border-radius: 16px;

    padding: 60px;
    display: flex;
    flex-direction: row;
    gap: 16px; 

}

.section-of-frame-on-landing-page h1{
    font-size: 30px;
    font-weight: bold;
    align-items: center;
}

.section-of-frame-on-landing-page li{
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;

    background: rgb(255,229,61);
    background: linear-gradient(180deg, rgba(255,229,61,1) 0%, rgba(253,197,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.list-of-frame-on-landing-page{
    width: 485px;
}
.list-of-frame-on-landing-page span{
    color: #6A0DAD;
}
.section-of-frame-on-landing-page li::marker {
    color:rgb(255,229,61);
  }

.span-of-list-frame{
    font-size: 16px;
    background: #6A0DAD;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    font-weight: bold;
}


.pricing-section {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

.pricing-section h2 {
    color: #6A0DAD;
    font-size: 20px;
    margin-bottom: 16px;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 100px;
}

.pricing-card {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 320px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.pricing-card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 8px;
}

.pricing-card h4 {
    font-size: 24px;
    color: #1E1F24;
}

.pricing-card p {
    color: #666;
    font-size: 20px;
    margin-bottom: 16px;
}

.pricing-card ul {
    list-style: none;
    margin-bottom: 16px;
    text-align: left;
    padding: 0 16px;
}

.pricing-card ul li {
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
    padding-left: 16px;
    position: relative;
}

.pricing-card ul li::before {
    content: '✔';
    color: #00CC66;
    position: absolute;
    left: 0;
    top: 0;
}

.pricing-card button {
    background-color: #6A0DAD;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 16px 24px;
    cursor: pointer;
    font-size: 16px;
}

.pricing-card button:hover {
    background-color: #550a9d;
}

.premium-price{
    background: rgb(255,215,0);
    background: linear-gradient(180deg, rgba(255,215,0,1) 0%, rgba(255,167,38,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 26px;
}

.basic button {
    background-color: #28a745;
    padding: 16px;
    transition: all 0.2s;
}

.basic button:hover {
    background-color: #2D6139;
    padding: 16px;
    transition: all 0.2s;
}

.plus button {
    background-color: #007bff;
    padding: 16px;
    transition: all 0.2s;
}

.plus button:hover {
    background-color: #2D4661;
    padding: 16px;
    transition: all 0.2s;
}


.premium {
    background: rgb(189,129,255);
    background: linear-gradient(180deg, rgba(189,129,255,1) 0%, rgba(86,0,143,1) 100%); 
    color: white;
    transform: translateY(-50px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.premium h3, .premium h4, .premium p, .premium ul li {
    color: white;
}

.premium h4{
    font-size: 28px;
}

.premium button {
    background: rgb(255,215,0);
    background: linear-gradient(180deg, rgba(255,215,0,1) 0%, rgba(255,167,38,1) 100%);

    padding: 16px;
    transition: all 0.2s;
}

.premium button:hover {
    background: rgb(255,215,0);
    background: linear-gradient(0deg, rgba(255,215,0,1) 0%, rgba(255,167,38,1) 100%);
}

.most-popular {
    background-color: #FFFFFF;
    color: #FDC500;
    padding: 8px 16px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    font-weight: bold;
}

.anjo button {
    background-color: #800080;
    padding: 16px;
    transition: all 0.2s;
}

.anjo button:hover {
    background-color: #612D61;
    padding: 16px;
    transition: all 0.2s;
}



.Cards{
    margin-top: 160px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    height: 380px;

    background: rgb(189,129,255);
    background: linear-gradient(180deg, rgba(189,129,255,1) 0%, rgba(86,0,143,1) 100%);

    margin-left: 50px;

    border-radius: 16px;

    cursor:pointer;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.P_card{
    color: var(--main--whitetext--solidcolor);

    font-size: 28px;
    font-weight: bold;

    padding: 30px;
    margin-top: 220px;
}

.card-front,
.card-back {
    font-family: 'Inter';
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
    letter-spacing: .2rem;
}

.card-back {
    transform: rotateY(180deg);
    color: var(--main--whitetext--solidcolor);
    font-size: 20px;
    text-align: center;
    padding: 16px;
}

.card:hover {
    transform: rotateY(180deg);
}