.ResumeArea textarea {
    padding: 10px; 
    height: 219px;
    width: 780px; 
    border-radius: 16px;

    font-size: 14px;
}


.ResumeArea h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}


.ResumeArea img {
    margin-left: 50px;
}

.btn_revisar{
    margin-top: 20px; 
    padding: 15px;

    font-size: 15px;
    font-weight: bold;

    border-radius: 8px;
    border: 2px solid #56008f;

    background-color: transparent;
    color: var(--main--purpletext--solidcolor);

}

.btn_revisar:hover {
    background: rgb(205,129,255);
    background-image: linear-gradient(0deg, rgba(205,129,255,1) 0%, rgba(86,0,143,1) 100%);

    color: var(--main--whitetext--solidcolor);
    border: none;
}

.flashcards h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 36px;
}

.flashcards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CardsFlash{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 16px;
}

.card2{

    width: 500px;
    height: 300px;

    background: rgb(189,129,255);
    background: linear-gradient(180deg, rgba(189,129,255,1) 0%, rgba(86,0,143,1) 100%);

    margin-left: 50px;

    border-radius: 16px;

    cursor:pointer;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.P_card2{
    color: var(--main--bg--footercolor);

    font-size: 20px;
    font-weight: bold;

    padding: 16px;
    margin-top: 50px;
}

.card2-front,
.card2-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    letter-spacing: .2rem;
}

.card2-back {
    transform: rotateY(180deg);
    color: var(--main--whitetext--solidcolor);
    font-size: 20px;
    text-align: justify;
    justify-content: center;
    padding: 16px;
}

.card2:hover {
    transform: rotateY(180deg);
}



.quiz-container {

    margin-top: 100px;
}

.question {
    padding: 16px;

    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 50px;
    width: 70%;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.question p {
    font-size: 16px;
    margin-bottom: 16px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.options button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color: #1E1F24;
}

.options button:hover {
    background-color: #e0e0e0;
}

.options button:focus {
    outline: none;
    background-color: #cfcfcf;
}
