.FrameContatos {
    height: 660px;
    background: linear-gradient(180deg, rgba(189,129,255,1) 0%, rgba(86,0,143,1) 100%);
    border-radius: 16px;
    padding: 20px;

    margin-left: 100px;
}

.contatos {
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: start;

    margin-bottom: 100px;
}

.TitleContato {
    color: var(--main--whitetext--solidcolor);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.textContato {
    font-size: 18px;
    color: #d8baf7;
    text-align: center;
    margin-bottom: 16px;
}

.cardContato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.ImgContato {
    width: 22px;
    height: 22px;
}

.TextFrame {
    font-size: 20px;
    color: var(--main--whitetext--solidcolor);
}

.h1_Ajuda_Contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.input-field{
    display: block;
    width: 20rem;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
  }

.TextForms{
    font-size: 15px;
    color: var(--main--blacktexte--solidcolor);
}

.div_forms{
    margin-top: 30px;
    margin-left: 100px;
}

.wrap{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 675px;

}

.input-field-sms{
    display: block;
    width: 87%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

.div_btn_enviar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-top: 50px;
}

.btn_forms{
    background: rgb(205,129,255);
    background: linear-gradient(180deg, rgba(205,129,255,1) 0%, rgba(86,0,143,1) 100%);
    color: var(--main--whitetext--solidcolor);
    border: none;
    border-radius: 16px;

    font-size: 16px;

    padding: 16px;
}


.btn_forms:hover {
    background: rgb(205,129,255);
    background: linear-gradient(0deg, rgba(205,129,255,1) 0%, rgba(86,0,143,1) 100%);
}
